{% extends "layout.njk" %}
{% block content %}
<div class="container px-4 py-16 text-center">
  <h1 class="text-3xl font-bold mb-4">Page Not Found</h1>
  <a class="btn" href="/">Go Home</a>
</div>
{% endblock %}


